<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject] AccountService AccountService { get; set; }
    [Inject] ILocalStorageService LocalStorage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await SetCurrentUser();
    }
    
    private async Task SetCurrentUser()
    {
        var user = await LocalStorage.GetItemAsync<UserDto>("user");
        if (user == null)
        {
            return;
        }
        AccountService.CurrentUser = user;
    }
}