@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div style="text-align: center">
        @if(!registerMode)
        {
            <h1>Find your match</h1>
            <p class="lead">Con on in to view your matches... all you need to do is sign up!</p>
            <div class="text-center">
                <button class="btn btn-primary btn-lg me-2" @onclick="RegisterToggle">Register</button>
                <button class="btn btn-info btn-lg">Learn more</button>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <p>Register form goes here</p>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>

@code {
    private bool registerMode = false;
    
    private void RegisterToggle()
    {
        registerMode = !registerMode;
    }
}