@inherits LayoutComponentBase
@inject HttpClient http

<NavBar />
<div class="container" style="margin-top: 100px">
    @Body
</div>

@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu/> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@

@code
{
    private List<AppUser> users = [];
    
    protected override async Task OnInitializedAsync()
    {
        await http.GetAsync("api/users").ContinueWith(async response =>
        {
            if (response.IsCompletedSuccessfully)
            {
                users = await response.Result.Content.ReadFromJsonAsync<List<AppUser>>() ?? [];
            }
        });
    }
}
