@using Client.Users
@using Client.Users.Service
@inject AccountService AccountService

<FluentHeader Class="siteheader">
    <a href="/" aria-label="Back to the homepage">
        Dating App
    </a>
    @if (AccountService.CurrentUser != null)
    {
            <ul style="flex: auto">
                <FluentAnchor Name="Home" Appearance="Appearance.Hypertext" Href="/">Matches</FluentAnchor>
                <FluentAnchor Name="About" Appearance="Appearance.Hypertext" Href="/about">Lists</FluentAnchor>
                <FluentAnchor Name="Services" Appearance="Appearance.Hypertext" Href="/services">Messages</FluentAnchor>
            </ul>
    }
    <FluentSpacer />

    @if (AccountService.CurrentUser == null)
    {
        <div class="search">
            <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
                <FluentTextField Name="username" @bind-Value="loginModel.Username" Placeholder="UserName"></FluentTextField>
                <FluentTextField Name="password" TextFieldType="TextFieldType.Password" @bind-Value="loginModel.Password" Placeholder="Password"></FluentTextField>
                <FluentButton Type="ButtonType.Submit" Icon="Login">Login</FluentButton>
            </EditForm>
        </div>
    }
    
    @if (AccountService.CurrentUser != null)
    {
        <div class="search">
            <FluentAnchor Id="welcomeAnchor" Appearance="Appearance.Hypertext" OnClick="@(() => open = !open)">
                Welcome User
            </FluentAnchor>
            <FluentMenu Anchor="welcomeAnchor" @bind-Open="open">
                <FluentMenuItem Name="Profile">Edit Profile</FluentMenuItem>
                <FluentDivider />
                <FluentMenuItem Name="Logout" @onclick="@(Logout)">Logout</FluentMenuItem>
            </FluentMenu>
        </div>
    }

</FluentHeader>

@code {
    [SupplyParameterFromForm] private LoginModel loginModel { get; set; } = new LoginModel { Username = "", Password = "" };


    bool open = false;
    
    protected override void OnInitialized()
    {
        AccountService.OnChange += StateHasChanged;
    }
    
    public void Dispose()
    {
        AccountService.OnChange -= StateHasChanged;
    }

    private async Task HandleLogin()
    {
        Console.WriteLine("Login");
        Console.WriteLine(loginModel.Username + " " + loginModel.Password);
        
        await AccountService.Login(loginModel);
    }

    private async Task Logout()
    {
        await AccountService.Logout();
    }

}
